<mat-toolbar color="primary">
  <span>
    <a mat-button routerLink="/">Home</a>
  </span>
  <span class="spacer"></span>
  <a mat-button routerLink="/dataTest" routerLinkActive="mat-accent">Data Test</a>
  <span class="spacer"></span>
  <a mat-button routerLink="/materialTable" routerLinkActive="mat-accent">Material Table</a>
  <span class="spacer"></span>
  <a mat-button routerLink="/flexmonsterPivot" routerLinkActive="mat-accent">FlexMonster Pivot</a>
  <span class="spacer"></span>
  <a mat-button routerLink="/agPivot" routerLinkActive="mat-accent">ag-grid Pivot</a>
</mat-toolbar>
