<p>ag-grid works!</p>
<button (click)="getSelectedRows()">Get Selected Rows</button>
<div>
  <ag-grid-angular
      #agGrid
      style="width: 100%; height: 750px;"
      class="ag-theme-balham"
      [rowData]="rowData"
      [columnDefs]="columnDefs"
      [defaultColDef]="defaultColDef"
      [modules]="modules"
      rowSelection="multiple"
      [sideBar]="sideBar"
      [enableRangeSelection]="true"
      [enableCharts]="true"
      (gridReady)="onGridReady($event)">
  </ag-grid-angular>
</div>
